@media (min-width: 567px) {
    .contact__box-left{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        &--one {
            grid-column: 1/2;
            grid-row: 1/2;
            margin: 1em;
        }

        &--two {
            grid-column: 2/3;
            grid-row: 1/2;
            margin: 1em;
        }
        &--three {
            grid-column: 1/2;
            grid-row: 2/3;
            margin: 1em;
        }
        &--four {
            grid-column: 2/3;
            grid-row: 2/3;
            margin: 1em;
        }
    }
}