$mainColor: rgb(35, 100, 170);
$secondMainColor: rgb(61, 165, 217);
$thirdMainColor: rgb(0, 188, 209);
$detailColor: rgb(254, 198, 1);
$lightWhite: rgb(255, 255, 255);
$headerLinear: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(35, 100, 170) 100%);
@import './mixins.scss';

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    z-index: 0;
}



.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

// HEADER

.header {
    background-image: $headerLinear, url('../img/headerMobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    z-index: -1;

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;

        &-title {
            color: $lightWhite;
            margin-bottom: 35px;
        }

        &-link {
            @include btn;
            background-color: $lightWhite;
            color: black;

            &:focus {
                box-shadow: 0 0 10px rgb(94, 93, 93);
                background-color: $mainColor;
                color: $lightWhite;
            }
        }
    }
}

// NAV

.nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: $mainColor;
    z-index: 100;
    border-radius: 0;

    &__links {
        position: absolute;
        top: 10vh;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
        width: 60%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        list-style: none;
        background-color: $lightWhite;
        transform: translateX(-100%);
        transition: .4s;
    }

    &__link {
        position: relative;
        font-size: 1.8rem;
        padding: 1em;
        color: rgb(61, 61, 61);
        text-decoration: none;

        &::before {
            position: absolute;
            top: 0;
            left: -10px;
            content: '';
            width: 2px;
            height: 100%;
            background-color: $thirdMainColor;
            transform: scaleY(0);
            transition: transform .4s;
        }

        &:focus::before {
            transform: scaleY(1)
        }
    }

    &__burger,
    &__burger-contact {
        font-size: 2.2rem;
        padding: 5px 15px;
        background-color: transparent;
        color: $lightWhite;
        border: none;
        cursor: pointer;
    }

    &__logo {
        font-size: 2.8rem;
        color: $lightWhite;
        font-weight: bold;
        text-decoration: none;


        i,
        span {
            color: $thirdMainColor;
            font-weight: lighter;
        }
    }

    &__contact {
        position: absolute;
        top: 10vh;
        right: 10px;
        padding: 18px;
        border-radius: 8px;
        background-color: $lightWhite;
        opacity: 0;
        transition: opacity .4s;
        z-index: 100;
        ;

        .fas {
            padding: 15px;
            margin-right: 10px;
            font-size: 2rem;
            background-color: $thirdMainColor;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            text-align: center;
        }

        &-phone,
        &-adress {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 15px;
        }

        &-adress {
            padding: 0;
        }
    }

    &__phone,
    &__adress {
        display: flex;
        flex-direction: column;
    }

}

//INFO

.info {
    position: relative;
    padding: 2em;
    z-index: -1;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2.4em 2em;
        color: $lightWhite;
        border-radius: 10px;
        margin-bottom: 2.5em;
        overflow: hidden;
        transition: box-shadow, transform .3s;

        &--one {
            background-color: $mainColor;
        }

        &--two {
            background-color: $secondMainColor;
        }

        &--three {
            background-color: $thirdMainColor;
        }

        &:hover {
            box-shadow: 0 0 10px rgb(94, 93, 93);
            transform: scale(1.05);
        }
    }

    &__title {
        position: relative;
        padding-bottom: 1.5em;
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        word-spacing: 5px;

        .fas {
            position: absolute;
            top: -40px;
            left: -50px;
            font-size: 10rem;
            color: rgba(255, 255, 255, 0.226);
        }

        &::before {
            position: absolute;
            bottom: 5px;
            left: 0;
            content: '';
            width: 25%;
            height: 1px;
            background-color: $lightWhite;
        }
    }
}

// ABOUT US

.aboutUs {
    padding: 2em;

    &__title {
        font-size: 4rem;
        margin-bottom: .6em;
        font-weight: lighter;
    }

    &__postTitle {
        font-size: 3rem;
        font-weight: bold;

        span {
            color: $thirdMainColor;
        }
    }

    &__text {
        margin: 1.6em 0;

    }

    &__img {
        display: none;
    }

    &__list {
        list-style: none;
        font-size: 2rem;
        margin-bottom: 1.2em;

        li {
            margin: .8em 0;
        }

        .fas {
            margin-right: .5em;
            color: $secondMainColor
        }
    }

    &__link {
        @include btn;
        background-color: $mainColor;
        color: $lightWhite;

        &:focus {
            box-shadow: 0 0 10px rgb(94, 93, 93);
            background-color: $secondMainColor;
        }

    }
}

// HORIZONTAL
.horizontal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1em;
    color: $lightWhite;
    background-image: url('../img/horizontalSmall.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    margin: 3em 0;
    z-index: -1;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
        z-index: -10;
    }

    &__title {
        font-size: 3.3rem;
    }

    &__text {
        margin: 1.3em 0;
    }

    &__link {
        @include btn;
        background-color: $secondMainColor;
        color: $lightWhite;

        &:focus {
            box-shadow: 0 0 10px rgb(94, 93, 93);
            background-color: $thirdMainColor;
        }
    }
}

// DEPARTMENTS

.departments {
    padding: 2em;

    &__title {
        font-size: 4rem;
        margin-bottom: .6em;
        font-weight: lighter;
    }

    &__postTitle {
        font-size: 3rem;
        margin-bottom: 1.5em;
        font-weight: bold;

        span {
            color: $thirdMainColor;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        padding: 2em 1.5em;
        margin-bottom: 2.5em;
        border-radius: 8px;
        border: 1px solid rgb(165, 165, 165);
        transition: .3s;

        &:hover {
            border: 1px solid $thirdMainColor;
        }

        &:hover &-icon {
            animation: scaleicon 1.5s infinite;
        }

        &-title {
            font-size: 2.5rem;
            margin-bottom: .8em;
        }

        &-body {
            display: flex;
            justify-content: space-around;



            &-text {
                width: 70%;
            }
        }

        &-icon {
            font-size: 4rem;
            color: $thirdMainColor;
        }

        &-link {
            margin-top: 1em;
            text-decoration: none;
            color: $thirdMainColor;
        }

    }

}

// TEAM
.team {
    position: relative;
    padding: 2em;
    background-color: rgb(232, 247, 255);
    z-index: 0;

    &__title {
        font-size: 4rem;
        margin-bottom: .6em;
        font-weight: lighter;
    }

    &__postTitle {
        font-size: 3rem;
        margin-bottom: 1.5em;
        font-weight: bold;

        span {
            color: $thirdMainColor;
        }
    }

    &__slide {
        margin: 1em 0;

        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 1em;
        }
    }

    &__name {
        font-size: 2rem;
        padding: 0 .5em;
        font-weight: bold;
        color: black;
        text-decoration: none;

        &:hover {
            color: $secondMainColor;
        }
    }

    &__spec {
        font-size: 2rem;
        padding: 0 .5em;
    }
}

.slick-prev::before,
.slick-next::before {
    color: $mainColor;
}


// GALLERY
.gallery {
    padding: 2em;

    &__title {
        font-size: 4rem;
        margin-bottom: .6em;
        font-weight: lighter;
    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-bottom: 1em;
    }

    &__tab {
        padding: .6em;
        background: none;
        border: 2px solid $lightWhite;
        font-size: 1.5rem;
        cursor: pointer;
        transition: border-bottom .3s;

        &:hover {
            border-bottom: 2px solid $thirdMainColor;
        }

    }

    &__box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin: 0.5em;
    }
}




.contact {
    padding: 2em;

    &__box {
        &-left {
            text-align: center;
            padding-bottom: 2em;
            background-color: #fff;
        }

        &-city {
            color: $mainColor;
        }

        &-item {
            margin-top: 1.5em;

            i {
                width: 50px;
                height: 50px;
                font-size: 2rem;
                text-align: center;
                margin-top: .7em;
                padding: .7em;
                border-radius: 50%;
                background-color: $thirdMainColor;
                color: $lightWhite;


            }

            &--info {
                padding: 2em;
                background-color: $mainColor;
                color: $lightWhite;
            }
        }

        &-right {
            padding: 2em;
            // border: 1px solid $mainColor;
            border-radius: 8px;
            background-color: rgb(232, 247, 255);
            box-shadow: 0 0 10px $secondMainColor;

        }
    }

    &__title {
        font-size: 4rem;
        margin-bottom: .6em;
        font-weight: lighter;
    }

    &__postTitle {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: .7em;

        span {
            color: $thirdMainColor;
        }
    }

    &__form {
        &-cell {
            display: flex;
            flex-direction: column;

            textarea {
                max-width: 100%;
                min-width: 100%;
            }
        }

        &-label,
        &-input {
            font-size: 1.8rem;

        }

        &-input {
            position: relative;
            padding: .3em;
            margin-bottom: .7em;
            border-radius: 5px;
            border: none;

        }

        &-button {
            @include btn;
            background-color: $secondMainColor;
            width: 100%;

            &:focus {
                box-shadow: 0 0 10px rgb(94, 93, 93);
                background-color: $thirdMainColor;
            }
        }
    }
}

.footer {
    background-color: $mainColor;
    border-top: 1px solid black;

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5em 0;
        color: $lightWhite;

        i,
        span {
            color: $thirdMainColor
        }
    }

    &__text {
        padding: 0.5em 0;
    }
}

.arrowToTop {
    display: none;
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    width: 40px;
    height: 40px;
    text-align: center;
    color: $lightWhite;
    background-color: rgb(90, 153, 221);
    padding: 10px;
    border-radius: 50%;
    z-index: 100;
}


@keyframes scaleicon {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


.nav-active {
    transform: translateX(0%);
}

.nav-active-contact {
    opacity: 1;
}


.tabActive {
    background-color: $thirdMainColor;
}


@import '../sass/small.scss';
@import '../sass/medium.scss';
@import '../sass/large.scss';